.jumbotron {
    background-color: gainsboro;

}

.original_title{
    background-color: blanchedalmond;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
}
.summary_title{
    background-color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.srt{
    display: flex;
    /* flex-direction: row; */
}

.originalTxt{

    background-color: thistle;
    padding: 20px;

}

.summaryTxt{

    background-color: khaki;
    padding: 20px;
    margin-left: 10px;
}

.heading{
    display: flex;
    justify-content: center;
}

.lead{
    display: flex;
    justify-content: center;
}

.submitBTN{
    margin-top: 10px;
}
